* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}


#body_container {
    margin: 25px;
}

#todo_container {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 35px;
}

#text_input {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 13px;
    height: 100%;
    border: 1px solid white;
    outline: none;
    padding-left: 8px;
    box-sizing: border-box;
}

#text_input::placeholder {
    color: rgba(255,255,255,0.7);
}

#text_input:focus, #date_button:focus {
    border: 1px solid rgb(65, 192, 255);
}

#date_button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 13px;
    height: 100%;
    border: 1px solid white;
    outline: none;
    color: rgba(255,255,255,0.7);;
    padding-left: 8px;
    padding-right: 40px;
    box-sizing: border-box;
    position: relative;
}

#date_button::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
    position: absolute;
    right: 8px;
}

#button_add {
    width: 80px;
    height: 100%;
    margin: 0;
    background-color: rgb(112, 112, 112);
    color: black;
    border: none;
    transition: 0.15s ease-in-out;
}


.list_wrapper {
    display: flex;
    height: 35px;
    margin-bottom: 15px;
}

.list_name {
    width: 171.333px;
    height: 100%;
    margin-right: 13px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
}

.list_date {
    width: 126.67px;
    margin-right: 13px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
}

.list_button {
    width: 80px;
    background-color: darkred;
    color: white;
    border: none;
    transition: 0.15s ease-in-out;
}

.list_button:hover {
    filter: brightness(130%);
    cursor: pointer;
}

.list_button:active {
    filter: brightness(160%);
}